.HomePage {
  padding: 2rem;
  text-align: center;
}

.HomePage h1 {
  font-weight: 500;
}

.HomePage > ul {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 1.4rem;

  margin: 0 auto;

  margin-top: 2rem;
  padding: 0.4rem 0.6rem;
  border-radius: 5px;
  border: 1px solid var(--main-color);
}

.HomePage > ul a {
  font-size: 1.4rem;
}

.SelfDescription h2 {
  margin-top: 2rem;
  font-size: 2.4rem;
  font-style: italic;

  text-decoration: rgb(0, 255, 234) wavy underline;
}

.SelfDescription ul {
  padding-top: 2rem;
  width: 50%;

  margin: 0 auto;
}

.SelfDescription ul li {
  text-align: left;
}

.SelfDescription ul li p {
  line-height: 1.5;
}
