.LoadingContainer {
  text-align: center;
  width: 100%;
  height: 100%;

  font-size: 3.2rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.LoadingContainer svg {
  fill: var(--main-color);
}
